.game-level-img {
  width: 100%;
}

.game-content {
  cursor: none;
}

/* cursor */
.circle,
.marker {
  position: fixed;
  border-radius: 50%;
  border: 3px solid #fdfffc;
  width: 6vw;
  height: 6vw;
  left: 20px;
  right: 0;
  transition: transform 0.2s ease, opacity 0.2s ease, border-color 0.2s ease,
    background-color 0.2s ease;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.marker {
  position: absolute;
  border: 3px dotted #fdfffc;
}

.key-dropdown {
  position: absolute;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  overflow: hidden;
}

.keys-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.key-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Staatliches", cursive;
  font-size: 20px;
  cursor: pointer;
  height: 67px;
}

.key-btn:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

.winning-popup {
  --height: 500px;
  --width: 700px;
  height: var(--height);
  width: var(--width);
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: calc(0px - var(--height) / 2); /* Negative half of height. */
  margin-left: calc(0px - var(--width) / 2); /* Negative half of width. */
  background-color: rgb(33, 33, 33, 0.8);
  z-index: 1;
  border-radius: 40px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}

.winning-title {
  font-size: 120px;
  line-height: 120px;
}

.winning-message {
  font-size: 35px;
  text-align: center;
}

.submit-time {
  margin-top: 16px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#name-label {
  font-size: 30px;
}

button {
  cursor: pointer;
}

.submit-btn,
#name-input,
.winning-popup-btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-family: inherit;
}

.submit-btn,
#name-input {
  height: 40px;
  width: 120px;
  border-radius: 8px;
  font-size: 24px;
  box-sizing: border-box;
  text-align: center;
}

.submit-btn.inactive {
  cursor: initial;
  border-color: gray;
  color: gray;
}

.btns-container {
  display: flex;
  column-gap: 24px;
}

.winning-popup-btn {
  height: 70px;
  width: 180px;
  margin-top: 16px;
  border-radius: 16px;
  font-size: 30px;
}

.winning-popup-btn:hover,
.submit-btn.active:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.timer {
  margin-left: 40px;
  font-size: 30px;
}
