.game-level-img {
  width: 100%;
}

.game-content {
  cursor: none;
}

/* cursor */
.circle,
.marker {
  position: fixed;
  border-radius: 50%;
  border: 3px solid #fdfffc;
  width: 100px;
  height: 100px;
  left: 20px;
  right: 0;
  transition: transform 0.2s ease, opacity 0.2s ease, border-color 0.2s ease,
    background-color 0.2s ease;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.marker {
  position: absolute;
  border: 3px dotted #fdfffc;
}

.key-dropdown {
  position: absolute;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  overflow: hidden;
}

.keys-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.key-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Staatliches", cursive;
  font-size: 20px;
  cursor: pointer;
  height: 67px;
}

.key-btn:hover {
  background-color: rgba(255, 255, 255, 0.35);
}
